.img-block {
  // width: 380px;
  width: 500px;
  height: 530px;

  @include tablet {
    height: 350px;
    width: 380px;
  }

  @include wide-mobile {
    width: 320px;
    height: 320px;
  }
}

.img-block__img {
  position: absolute;

  &--boy {
    width: 300px;
    bottom: 0;
    right: 0;

    @include tablet {
      width: 250px;
    }

    @include mobile {
      width: 200px;
    }
  }

  &--prod {
    width: 320px;
    left: 0;
    top: 50px;

    @include tablet {
      width: 200px;
    }

    @include mobile {
      width: 180px;
    }
  }

}

.btn {
  max-width: 280px;
  display: block;
  text-transform: uppercase;
  box-shadow:inset 0px -4px 0px 0px rgb(65, 13, 13);
  background: #FC0B0B;
  text-align: center;
  font-size: 2.5rem;
  line-height: rem;
  padding: 8px 0 12px 0;
  color: #ffffff;
  font-weight: 700;
  border-radius: 10px;
	background-color:#dba19e;
  background:linear-gradient(to bottom, #EB6D6D 5%, #FC0B0B 100%);
}